.limit-content {
    height: 247px;
    overflow: hidden;
}

.inactive {
    fill: $color-secondary-F1F3FF;
}

.is-scroll-disabled {
    overflow: hidden;
}

.red-svg {
    stroke: $color-primary-red;
}