.limit-content {
    height: 247px;
    overflow: hidden;
}

.is-scroll-disabled {
    overflow: hidden;
}

.red-svg {
    stroke: $color-primary-red;
}

.brand-color {
    color: $color-primary-red;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.fit-width {
    width: fit-content;
}

.center-block {
    display: block;
    margin: 0 auto;
}