$color-primary-white: #FFFFFF;
$color-primary-orange: #FF9F0E;
$color-primary-black: #181817;

$color-secondary-FCB62A: #FCB62A;
$color-secondary-FFFAF3: #FFFAF3;
$color-secondary-F1F3FF: #F1F3FF;
$color-secondary-839AA9: #839AA9;
$color-secondary-F9F9FF: #F9F9FF;
$color-secondary-D9A6FF: #D9A6FF;

$color-primary-red: #FF4242;
$color-primary-gray: #171717; /*#141011 #171717*/
$color-primary-ebony: #323234; /*#1D1A1D  323234*/
$color-primary-snow: #F9F9F9;
$color-primary-light-gray: #747474;

$color-secondary-232428: #232428; /*#747475  626262*/

/* #1E1E20 */ 

$color-secondary-FCB62A: #FCB62A;
$color-secondary-FFFAF3: #FFFAF3;
$color-secondary-F1F3FF: #F1F3FF;
$color-secondary-839AA9: #839AA9;
$color-secondary-F9F9FF: #F9F9FF;
$color-secondary-D9A6FF: #D9A6FF;

$bp-desktop: 1200px;
$bp-small-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 460px;