.main {
    display: flex;
    flex-grow: 1;
}
.game-section {
    flex-grow: 1;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        @media screen and (min-width: $bp-small-desktop) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        color: $color-primary-red;
        margin-bottom: 16px;

        @media screen and (min-width: $bp-small-desktop) {
            margin-bottom: unset;
        }
    }

    &__products {}

    &__list {
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(clamp(9.5rem, 6.018rem + 15.476vw, 17.625rem), 1fr)); /*clamp(152-282)*/
        gap: 18px 10px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-grow: 1;
        // flex-basis: calc((100% - 20px) / 3);
        overflow: hidden;
        border-radius: 24px;
        position: relative;

        &::before {
            position: absolute;
            content: ' ';
            display: block;
            top: calc(0% - (150% / 2) / 2);
            left: calc((100% - 100px) / 2);
            width: 100px;
            height: 150%;
            background: linear-gradient(90deg, transparent, #FF4242, #FF4242, #FF4242, #FF4242, transparent);
            animation: animation-rotate 5s infinite linear;
            z-index: -1;
        }
    
        @keyframes animation-rotate {
            0% {
                transform: rotateZ(0deg);
            }
    
            0% {
                transform: rotateZ(360deg);
            }
        }
    }

    // &__item:last-child {
    //     flex-grow: unset;
    //     flex-basis: max(calc((100% - 20px) / 3), clamp(9.5rem, 5.857rem + 16.19vw, 18rem));
    // }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 24px;
        background-color: transparent;
        border: none;
        padding: 0;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .2s, fill .2s;

        &:hover {
            fill: $color-primary-white;
            background-color: $color-secondary-FCB62A;
        }

        &--rotate {
            transform: rotate(180deg);

        }
    }

    &__mobile-btn-sorting {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        width: fit-content;

        @media screen and (min-width: $bp-small-desktop) {
            display: none;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
        }
    }
}