.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &__box-bones {
        display: flex;
        gap: 8px;
        height: 14px;
        fill: $color-primary-orange;
    }

    &__item-bone {
        font-size: 0;
    }

    &__numbers-rating {
        color: $color-primary-orange;
        font-size: 16px;
    }
}