.input-container {
    display: flex;
    gap: 8px;
    max-width: 240px;
    width: 100%;
    background-color: $color-secondary-232428;
    border-radius: 8px;
    padding: 8px 16px;
    stroke: $color-primary-red;

    &__input {
        font-size: 16px;
        background-color: $color-secondary-232428;
        color: $color-primary-red;
        border: none;
        width: 100%;
        padding: 0;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-primary-light-gray;
        }

        &:focus::placeholder {
            color: $color-primary-red;
        }
    }
}

.input-radio {
    appearance: none;
}

.label-radio::before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
    background-color: hsla(0,0%,0%,.2);
    cursor: pointer;
}

.input-radio:checked+.label-radio::before {
    background-image: -webkit-radial-gradient(rgb(255, 204, 204) 0%, rgb(255, 102, 102) 15%, hsla(0, 100%, 60%, 0.3) 28%, hsla(0, 100%, 30%, 0) 70%);
    background-repeat: no-repeat;
}

select {
    padding: 0 4px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    appearance: none;
    color: $color-primary-red;
    background-color: $color-primary-gray;
    box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
    cursor: pointer;
}

select:hover,
select:focus {
    border: 1px solid black;
    border-color: $color-primary-red;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 66, 66, 0.5);
}

input[type=file]::file-selector-button {
    padding: 8px;
    margin: 4px;
    color: $color-primary-snow;
    background-color: $color-primary-red;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: box-shadow .2s;
}

input[type=file]::file-selector-button:hover {
    box-shadow: 0 0 4px $color-primary-red;
}