.pagination {
    display: flex;
    gap: clamp(0.5rem, 0.286rem + 0.952vw, 1rem);
    justify-content: center;
    align-items: center;
    margin-top: clamp(1rem, 0.786rem + 0.952vw, 1.5rem);
    padding: 8px 0;

    &__bullet {
        display: block;
        width: 32px;
        height: 4px;
        border-radius: 2px;
        background-color: $color-primary-light-gray;
        cursor: pointer;

        @media screen and (min-width: $bp-tablet) {
            width: 40px;
            height: 5px;
        }

        &--active {
            background-color: $color-primary-red;
            box-shadow: 0 0 8px $color-primary-red;
        }
    }
}