.footer {
    // position: fixed;
    /*remove*/
    // bottom: 0;
    /*remove*/
    // width: 100%;
    /*remove*/
    margin-top: 128px; /*remove*/
    overflow-x: clip;
    box-shadow: 0 0 10px black;
    user-select: none;

    position: relative; /*restore*/
    background-color: $color-primary-ebony;
    padding: 32px 0;

    @media screen and (min-width: $bp-mobile) {
        margin-top: 260px; 
    }

    @media screen and (min-width: $bp-tablet) {
        margin-top: unset; 
    }

    @media screen and (min-width: $bp-desktop) {
        margin-top: 56px; 
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        max-width: 945px;
        width: 100%;

        @media screen and (max-width: $bp-tablet) {
            flex-direction: column;
            align-items: center;
        }

        &::before {
            content: "";
            position: absolute;
            background: url(../images/footer-decor.png) no-repeat;
            top: -144px;
            right: calc((100% - 128px) / 2);
            background-size: contain;
            width: 128px;
            height: 136px;

            @media screen and (min-width: $bp-mobile) {
                width: 252px;
                height: 262px;
                top: -276px;
                right: calc((100% - 292px) / 2);
            }

            @media screen and (min-width: $bp-tablet) {
                display: none;
            }

            @media screen and (min-width: $bp-desktop) {
                display: block;
                top: -74px;
                right: -336px;
            }
        }
    }

    &__logo-and-social {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $bp-tablet) {
            align-items: center;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 24px;

        &>img {
            @media screen and (max-width: $bp-mobile) {
                width: 92px;
            }
        }
    }

    &__social-media {
        display: flex;
        gap: 8px;
    }

    &__icon-instagram,
    &__icon-facebook {
        width: 40px;
        height: 40px;

        @media screen and (max-width: $bp-mobile) {
            width: 24px;
            height: 24px;
        }
    }

    &__icon-instagram {
        fill: none;
        stroke: $color-primary-red;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width: $bp-tablet) {
            align-items: center;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        
        gap: 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @media screen and (min-width: $bp-tablet) {
            align-items: flex-start;
        }
    }

    &__address-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        @media screen and (min-width: $bp-tablet) {
            gap: 16px;
            align-items: flex-start;
        }
    }
    
    &__address-copyright {
        font-size: 12px;
        color: $color-primary-snow;
        margin: 0;

        @media screen and (min-width: $bp-mobile) {
            font-size: 13px;
        }
    }
}