.main-section {
    position: relative;
    padding: 65px 0;

    @media screen and (min-width: $bp-mobile) {
        padding: 144px 0;
    }

    @media screen and (min-width: $bp-tablet) {
        padding: 224px 0;
    }

    &::before {
        position: absolute;
        content: "";
        background: url(../images/main-section-bg.svg) no-repeat;
        background-position: right top;
        background-size: auto 100%;
        width: 100%;
        height: 100%;
        left: 0;
        top: -30px;
        z-index: -1;

        @media screen and (min-width: $bp-mobile) {
            top: -42px;
        }

        @media screen and (min-width: $bp-desktop) {
            background-size: 100% 100%;
        }
    }

    &__container {
        display: flex;
        gap: 65px;
        justify-content: center;

        @media screen and (min-width: $bp-small-desktop) {
            justify-content: flex-start;
        }
    }

    &__content {
        max-width: 640px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $bp-tablet) {
            align-items: flex-start;
        }

    }

    &__title {
        font-family: "Rowdies", sans-serif;
        font-size: 32px;
        margin-bottom: 24px;
        text-align: center;

        @media screen and (min-width: $bp-mobile) {
            font-size: 48px;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 72px;
            margin-bottom: 40px;
            text-align: unset;
        }
    }

    &__text {
        max-width: 500px;
        width: 100%;
        line-height: normal;
        margin-bottom: 16px;
        font-size: 16px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            line-height: 1.5;
            margin-bottom: 24px;
            font-size: 22px;
            text-align: unset;
        }
    }

    &__image-container {
        display: none;

        @media screen and (min-width: $bp-small-desktop) {
            display: block;
        }
    }

    &__image {
        display: none;

        @media screen and (min-width: $bp-small-desktop) {
            display: block;
            width: 460px;
            height: auto;
        }

        @media screen and (min-width: $bp-desktop) {
            width: auto;
            height: auto;
        }

        /* Alternative with clip-path, but hard apadtive (or non adaptive) */
        // position: relative;
        // background-color: $color-primary-orange;
        // width: 506px;
        // height: 516px;
        // clip-path: path("M254.97 0.0384397C325.849 -1.81149 376.333 63.4758 423.116 116.86C465.875 165.653 500.595 220.553 504.987 285.337C509.708 354.969 499.121 431.376 447.624 478.371C397.458 524.152 322.749 516.713 254.97 513.499C191.651 510.497 126.986 503.257 79.7229 460.93C30.0027 416.402 -2.90794 352.082 0.203089 285.337C3.20707 220.889 52.4254 173.496 95.3615 125.414C142.223 72.9368 184.715 1.87207 254.97 0.0384397Z") fill-box;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: 423px;
        //     height: 461px;
        //     top: 55px;
        //     left: 66px;
        //     background: url(../../images/main-section-dog.png) no-repeat;
        // }
    }

}